 <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav  opened>
      <mat-toolbar color="primary">Change Password</mat-toolbar>
      <form (submit)="changePassword()">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        <button type="submit">Change Password</button>
      </form>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-button >Change Password</button>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <div class="p-d-flex p-flex-column">
    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
        <div class="p-field">
            <label for="oldPassword">Current Password:</label>
            <input type="password" id="oldPassword" class="form-control" name="oldPassword" ngModel required>
        </div>
        <div class="p-field">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" class="form-control" name="newPassword" ngModel required>
        </div>
        <div class="w-100 d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
        </div>
    </form>
</div>



