<div class="container-fluid">
  <div class="main">
    <div >
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
      
        <div class="form-group col">
          <label for="newPassword">New Password:</label>
          <input
            type="password"
           
            class="form-control"
            
            ngModel
            required
          />
        </div>
        <div class="form-group col">
          <label for="newPassword">Confirm New Password:</label>
          <input
            type="password"
           
            class="form-control"
            
            ngModel
            required
          />
        </div>
        <button>Reset Password</button>
      </form>
    </div>
  </div>
</div>
