<div class="container-fluid">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
        <label for="chk" aria-hidden="true">Sign up</label>
        <div class="form-group col">
          <input
            type="text"
            formControlName="userName"
            class="form-control"
            name="userName"
            placeholder="Enter UserName"
            required=""
            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
          />
          <span *ngIf="submitted && f.userName.errors" class="invalid-feedback">
          </span>
        </div>
        <div class="form-group col">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            name="email"
            placeholder="Enter Email Address"
            required=""
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
          </span>
        </div>
        <div class="form-group col">
          <input
            type="text"
            formControlName="password"
            class="form-control"
            name="password"
            placeholder="Enter Password"
            required=""
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <span *ngIf="submitted && f.password.errors" class="invalid-feedback">
          </span>
        </div>
        <button>Sign up</button>
      </form>
    </div>

    <div class="login">
      <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
        <label for="chk" aria-hidden="true">Login</label>
        <div class="form-group col">
          <input
            type="text"
            formControlName="email"
            class="form-control"
            name="email"
            placeholder="Enter Login Email Address"
            required=""
            [ngClass]="{ 'is-invalid': submitted && g.email.errors }"
          />
          <span *ngIf="submitted && g.email.errors" class="invalid-feedback">
          </span>
        </div>
        <div class="form-group col">
          <input
            type="text"
            formControlName="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            required=""
            [ngClass]="{ 'is-invalid': submitted && g.password.errors }"
          />
          <span *ngIf="submitted && g.password.errors" class="invalid-feedback">
          </span>
        </div>
        <button>Login</button>
        <a  style="margin-left: 120px;" (click)="onForgotPassword()">Forgot Password?</a>
      </form>
    </div>
  </div>
</div>
