
<ngx-spinner type="ball-beat" size="large" color="#357edd">
  <div>
    <h1 class="text-white text-center">Loading....</h1>
  </div>
</ngx-spinner>
<!-- 
<div class="dark-mode-toggle" >
  <button class="btn btn-secondary" (click)="toggleDarkMode()">Toggle Dark Mode</button>
</div> -->
<router-outlet></router-outlet>

<!-- <div class="wrapper">
  <div>Dark Mode 

    <mat-slide-toggle color="primary" [checked]="lightTheme" (change)="toggle()" >Light Mode</mat-slide-toggle>
  </div>
</div> -->


