<!-- 
<div class="sidebar-opener"  (click)="toggleSidebar()">
  &#9776;
</div>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="toggleSidebar()"
  >
      X
  </div>
  <div class="sidebar-content">
      <h2>Sidebar</h2>
      <div style="cursor: pointer;">Add Students</div>
      <div style="cursor: pointer;" routerLink="/bankdetails">Bank Details</div>
      <div>Services</div>
      <div>Prices</div>
      <div>Downloads</div>
      <div>Contact Us</div>
  </div>
</div> -->

 <div class="card">
  <div class="card-header d-flex justify-content-between bg-info">
    <h1>Employee Registration</h1>
    
    <div class="signout">
      
    
      <div class="dropdown">
        <mat-form-field>
          <mat-label>My Profile</mat-label>
          <mat-select>
            <!-- <mat-option (click)="changeDayNight()">Change night and Day</mat-option> -->
            <mat-slide-toggle [formControl]="switchTheme" id="icon" (change)="toggleDarkTheme()">Change night and Day</mat-slide-toggle>
            <mat-option (click)="openProfileModal()">My Profile</mat-option>
            <mat-option (click)="openChangePasswordModal()"
              >Change Password</mat-option
            >
            <mat-option (click)="onSignOut()">Sign Out</mat-option>
            
          </mat-select>
        </mat-form-field>
      </div>
      
    </div>
  </div>
 
  <div class="col-2 ml-3 mt-2">
    <button class="btn btn-primary btn-sm" (click)="goBack()">
      <i class="fas fa-arrow-left"></i> Home
    </button>
  </div>
  <div class="card-body">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="row mt-2">
        <div class="form-group col">
          <label>Department</label>
          <select
            class="form-control"
            formControlName="department"
            name="department"
            id="department"
            [ngClass]="{ 'is-invalid': submitted && f.department.errors }"
            required
          >
            <option value="">--Select--</option>
            <option value="Accounts">Accounts</option>
            <option value="Manager">Manager</option>
            <option value="Administrator">Administrator</option>
          </select>
          <span
            *ngIf="submitted && f.department.errors"
            class="invalid-feedback"
          >
            <span *ngIf="f.department.errors?.required"
              >Department is Required</span
            >
          </span>
        </div>

        <div class="form-group col">
          <label>Employee Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="empName"
            name="empName"
            id="empName"
            [ngClass]="{ 'is-invalid': submitted && f.empName.errors }"
            required
          />
          <span *ngIf="submitted && f.empName.errors" class="invalid-feedback">
            <span *ngIf="f.empName.errors?.required"
              >Employee Name is Required</span
            >
          </span>
        </div>

        <div class="form-group col">
          <label>Mobile</label>
          <input
            type="text"
            class="form-control"
            (keypress)="keyPressNumbers($event)"
            x
            formControlName="mobile"
            name="mobile"
            maxlength="10"
            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
            required
          />
          <span *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <span *ngIf="f.mobile.errors?.required">Mobile is Required</span>
          </span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Gender</label>
          <select
            class="form-control"
            formControlName="gender"
            name="gender"
            id="gender"
            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
            required
          >
            <option value="">--Select--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <span *ngIf="submitted && f.gender.errors" class="invalid-feedback">
            <span *ngIf="f.gender.errors?.required">Gender is Required</span>
          </span>
        </div>

        <div class="form-group col">
          <label>Date of Join</label>
          <input
            type="date"
            class="form-control"
            formControlName="joinDate"
            name="joinDate"
            id="joinDate"
            [ngClass]="{ 'is-invalid': submitted && f.joinDate.errors }"
            required
          />
          <span *ngIf="submitted && f.joinDate.errors" class="invalid-feedback">
            <span *ngIf="f.joinDate.errors?.required"
              >Joining Date is Required</span
            >
          </span>
        </div>

        <div class="form-group col">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            name="email"
            id="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required
          />
          <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <span *ngIf="f.email.errors?.required">Email is Required</span>
            <span *ngIf="f.email.errors?.email"
              >Email must be valid email address</span
            >
          </span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Salary</label>
          <input
            type="text"
            class="form-control"
            (keypress)="keyPressNumbers($event)"
            formControlName="salary"
            name="salary"
            maxlength="10"
            id="salary"
            [ngClass]="{ 'is-invalid': submitted && f.salary.errors }"
            required
          />
          <span *ngIf="submitted && f.salary.errors" class="invalid-feedback">
            <span *ngIf="f.salary.errors?.required">Salary is Required</span>
          </span>
        </div>

        <div class="form-group col">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            type="{{ hidePassword ? 'password' : 'text' }}"
            name="password"
            id="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            required
            (click)="togglePasswordVisibility()"
          />
          <span *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <span *ngIf="f.password.errors?.required"
              >Password is Required</span
            >
          </span>
        </div>

        <div class="form-group col">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPass"
            type="{{ hidePassword ? 'password' : 'text' }}"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }"
            (click)="togglePasswordVisibility()"
            required
          />
          <span
            *ngIf="submitted && f.confirmPass.errors"
            class="invalid-feedback"
          >
            <span *ngIf="f.confirmPass.errors?.required"
              >Confirm Password is Required</span
            >
            <span *ngIf="f.confirmPass.errors?.confirmedValidator"
              >Password and Confirm Password must be match</span
            >
          </span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group col form-check">
            <label>Active</label>
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="empStatus"
              id="empStatus"
              name="empStatus"
              required
            />
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success me-2">Save</button>
          <button
            type="button"
            class="btn btn-warning me-2"
            (click)="resetBtn()"
          >
            Reset
          </button>
          <button
            type="button"
            class="btn btn-danger me-2"
            (click)="cancelBtn()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>


  <div class="card-header bg-danger"><h6>Employee List</h6></div>
  <div class="card-body">
    <div class="row mt-2">
      <div class="mb-3 col-4">
        <div class="d-flex mb-5 col-12">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="nameSearch"
            placeholder="Enter Value"
          />
          <br />
          <select
            class="form-select keft"
            aria-label="Default Select"
            [(ngModel)]="selectSearch"
          >
            <option value="">Please Select</option>
            <option value="department">Department</option>
            <option value="empName">Employee Name</option>
            <option value="mobile">Mobile</option>
            <option value="gender">Gender</option>
            <option value="joinDate">Joining Date</option>
            <option value="email">Email</option>
          </select>
        </div>
      </div>
      <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Department</th>
            <th>Emplaoyee Name</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Joining Date</th>
            <th>Email</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let data of pagedEmployeeData() | app : nameSearch : selectSearch;
              let i = index
            "
          >
            <td>{{ data.department }}</td>
            <td>{{ capitalizeFirstLetter(data.empName) }}</td>
            <td>{{ data.mobile }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.joinDate|date }}</td>
            <td>{{ data.email }}</td>
            <td class="text-center">
              <mat-slide-toggle
                [(ngModel)]="toggleStatusArray[i]"
                color="primary"
                (onChange)="onToggleChange(i)"
              ></mat-slide-toggle>
              <button
                [routerLink]="['/edit', data._id]"
                class="btn btn-primary me-2"
                [disabled]="toggleStatusArray[i]"
              >
                Edit
              </button>
              <button
                [routerLink]="['/view', data._id]"
                class="btn btn-info me-2"
                [disabled]="toggleStatusArray[i]"
              >
                View
              </button>
              <button
                class="btn btn-danger me-2"
                (click)="onDelete(data._id)"
                [disabled]="toggleStatusArray[i]"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p-paginator
      [rows]="itemsPerPage"
      [totalRecords]="filteredEmployeeData.length"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h2 class="row justify-content-center">Bar Chart</h2>
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #profilePopup>
  <div class="p-d-flex p-flex-column">
    <!-- Your profile form goes here -->
  </div>
</ng-template>
