<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Notice Board(0)</h4>
              <div style="margin-left: 10vw">
                <img
                  src="../../assets/No-Notice-Found.png"
                  alt="No-Notice-Found"
                />
                <h3 style="margin-left: 2.9vw; font-weight: 500">No Notice Found</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">My Task</h4>
              <div style="margin-left: 10vw">
                <img
                  src="../../assets/No-Notice-Found.png"
                  alt="No-Notice-Found"
                />
                <h3 style="margin-left: 2.9vw; font-weight: 500">
                  No Task Found
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="list-group list-group-flush card-title">My Attendance</h4>
          <hr />
          <div class="row">
            <div class="col-md-4 border-right text-center" style="border-right: 1px solid #ccc;">
              <h5>Present</h5>
              21 Days
            </div>
            <div class="col-md-4 border-right text-center" style="border-right: 1px solid #ccc;">
              <h5>Absent</h5>
              2 Days
            </div>
            <div class="col-md-4 border-right text-center">
              <h5>Late Coming</h5>
              0 Days
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="list-group list-group-flush card-title">My Leaves</h4>
          <hr />
          <div class="row">
            <div class="col-md-4 text-center" style="border-right: 1px solid #ccc;">
              <h3 style="margin-bottom: 5px">Paid Leaves</h3>
              <div class="row">
                <div class="col-md-6 text-left">
                  <h4 style="margin-top: 0">Balance</h4>
                  <h5>10 Days</h5>
                </div>
                <div class="col-md-6 text-right">
                  <h4 style="margin-top: 0">Booked</h4>
                  <h5>10 Days</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center" style="border-right: 1px solid #ccc;">
              <h3 style="margin-bottom: 5px">Unpaid Leaves</h3>
              <div class="row">
                <div class="col-md-6 text-left">
                  <h4 style="margin-top: 0">Balance</h4>
                  <h5>10 Days</h5>
                </div>
                <div class="col-md-6 text-right">
                  <h4 style="margin-top: 0">Booked</h4>
                  <h5>10 Days</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <h3 style="margin-bottom: 5px">Hourly Leaves</h3>
              <div class="row">
                <div class="col-md-6 text-left">
                  <h4 style="margin-top: 0">Balance</h4>
                  <h5>10 Days</h5>
                </div>
                <div class="col-md-6 text-right">
                  <h4 style="margin-top: 0">Booked</h4>
                  <h5>10 Days</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Upcoming Holiday(0)</h4>
              <div style="margin-left: 10vw">
                <img
                  src="../../assets/Upcoming-Holiday.png"
                  alt="No-Notice-Found"
                />
                <h3 style="font-weight: 500">No Upcoming Holiday for the Month</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Quick Links(0)</h4>
              <div style="margin-left: 10vw">
                <img
                  src="../../assets/QuicksLinks.png"
                  alt="No-Notice-Found"
                />
                <h3 style="margin-left: 2.9vw; font-weight: 500">
                  No Data Found
                </h3>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">On Remote Work(0)</h4>
              <mat-select [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
              <div style="margin-left: 10vw">
                <img
                  src="../../assets/Remote Work.png"
                  alt="No-Notice-Found"
                />
                <h3 style="font-weight: 500">
                  No Remote Work Found(0)
                </h3>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">On Remote Work(0)</h4>
              <div class="d-flex justify-content-end">
                  <mat-select [(ngModel)]="selectedValue" name="food" class="select-field" style="font-size:small;">
                    <mat-option *ngFor="let remote of remoteWork" [value]="remote.value" class="option-small">
                      {{remote.viewValue}}
                    </mat-option>
                  </mat-select>
              </div>
              <div style="margin-left: 10vw">
                <img
                  src="../../assets/Remote Work.png"
                  alt="No-Notice-Found"
                />
                <h3 style="font-weight: 500">
                  No Remote Work Found(0)
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
